<section class="card">
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla recusandae assumenda dolore minus cupiditate
            dolores, optio ex incidunt blanditiis maxime?</p>
    </div>
</section>