<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sunt quod quasi dolore recusandae
        expedita consequatur officiis dolores, sed, assumenda sapiente laudantium esse atque. Neque labore nemo aperiam
        molestias consequuntur.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus magni deserunt ea veniam. Fugit, veritatis
        pariatur illum consequuntur consectetur voluptates perferendis, reprehenderit nam rerum consequatur quam. Illum
        laudantium quia enim.</p>
    <a href="www.Google.com" class="btn btn-primary">Google</a>
</div>